<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- header css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/header.css">

</head>
<body>
    <div class="header_wrap">
        <div id="header">
            <div id="header_1">
                <a href="">
                <img id="logo_img" src="../resources/images/제주와 로고.png" alt="">
                </a>
            </div>

            <div id="header_2">
                <form action="" id="search_form">
                    
                    <div id="search_btn" style="width: 10%;">
                        <!--<input type="submit" value="검색">-->
                        <button><img style="width: 100%; height: 100%;" src="../resources/images/돋보기.png"></button>
                    </div>
                    
                    <div id="search_text">
                        <input type="search" name="keyword">
                    </div>
                    
                </form>
            </div>

            <div id="header_3">
                <div>
                    <ul id="info_1">
                        <li><a href="">xxx님 환영합니다</a></li> 
                        <li><a href="">로그아웃</a></li> 
                        <li><a href="">고객센터</a></li> 
                    </ul>
                </div>    
                
                <div>
                    <ul id="info_2">
                        <figure>
                            <li id="mp">
                                <a href=""><img src="../resources/images/마이페이지.png" style="width: 40%;"></a>
                                <figcaption style="font-size: 10px;"><a href="">마이페이지</a></figcaption>
                            </li>
                        </figure>

                        <figure>
                            <li id="cart">
                                <a href=""><img src="../resources/images/장바구니.png" style="width: 40%;"></a>
                                <figcaption style="font-size: 10px;"><a href="">장바구니</a></figcaption>
                            </li>
                        </figure>

                        <figure>
                            <li id="like">
                                <a href=""><img src="../resources/images/좋아요.png" style="width: 40%;"></a>
                                <figcaption style="font-size: 10px;"><a href="">좋아요</a></figcaption>
                            </li>
                        </figure>

                        <figure>
                            <li id="cp"><a href=""><img src="../resources/images/쿠폰.png" style="width: 60%;"></a>
                                <figcaption style="font-size: 10px;"><a href="">쿠폰</a></figcaption>
                            </li>
                        </figure>
                    </ul>

                </div>
            </div>
        </div>
        <br clear=" both"> <br>

        <div class="navWrap" align="center">
            <div class="menu"><a href="">투어/티켓</a></div>
            <div class="menu"><a href="">맛집</a></div>
            <div class="menu"><a href="">이벤트</a></div>
            <div class="menu"><a href="">할인기획전</a></div>
        </div>
    </div>
</body>
</html>