<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- main_content css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/main_content.css">
</head>
<body>
    <div class="content_wrap">
    <div id="img_jejumain">
        <div style="position: absolute;">
            <a href="#" class="left_click">
            <div style="position: relative; top: 150px; left: 30px;"><img src="../resources/images/left_ch.png"></img></div></a>
        </div>
        <div style="position: absolute;">
            <a href="#" class="left_click">
            <div style="position: relative; top: 150px; left: 850px;"><img src="../resources/images/right_ch.png"></img></a></div>
        </div>
        
        <img src="../resources/images/jeju_main.jpg" id="main_img"></img>
    
</div>

 <!-- 추천상품 -->

<div class="medium">
    <label for="" class="medieum-font">제주와 추천상품</label>
</div>
    <div class="product-list">
        <div class="product-list2" >
            <a href="#" class="product">
            <img src="../resources/images/reco_1.png" alt="" width="245">
            <div class="product-name">제주시티투어</div>
            <div class="product-price">128,000 <label for="" id="price-won">원 </div></a>

            <a href="#" class="product">
            <img src="../resources/images/reco_1.png" alt="" width="245">
            <div class="product-name">제주시티투어</div>
            <div class="product-price">128,000 <label for="" id="price-won">원</div></a>

            <a href="#" class="product">
            <img src="../resources/images/reco_1.png" alt="" width="245">
            <div class="product-name">제주시티투어</div>
            <div class="product-price">128,000 <label for="" id="price-won">원</div></a>
    </div>

    </div>

    <!-- 제주와 투어/티켓 인기 -->

    <div class="medium">
        <label for="" class="medieum-font">투어/티켓 인기상품</label>
    </div>
        <div class="product-list">
            <div class="product-list2" >
                <a href="#" class="product">
                <img src="../resources/images/reco_1.png" alt="" width="245">
                <div class="product-name">제주시티투어</div>
                <div class="product-price">128,000 <label for="" id="price-won">원</label></div></a>

                <a href="#" class="product">
                <img src="../resources/images/reco_1.png" alt="" width="245">
                <div class="product-name">제주시티투어</div>
                <div class="product-price">128,000 <label for="" id="price-won">원 </div></a>

                <a href="#" class="product">
                <img src="../resources/images/reco_1.png" alt="" width="245">
                <div class="product-name">제주시티투어</div>
                <div class="product-price">128,000 <label for="" id="price-won">원</div></a>
        </div>
    </div>
</div>
</body>
</html>